.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px 0;
  background-color: $base-color;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;

  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }

    a {
      text-decoration: none;
      color: $black-color;

      &:hover {
        color: $action-color;
      }
    }
  }
}