---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
const allPosts = await Astro.glob('./*.md');

import '../../styles/pages/single-blog.scss';

console.log("All Posts" , allPosts);


---

<MainLayout title="Blog" description="Desc">
  <div class="container">
    {
      allPosts.map((post) => <PostCard frontmatter={post.frontmatter} />)
    }
  </div>
</MainLayout>