---
import MainLayout from "../../layouts/MainLayout.astro";
import BlogPost from "../../components/BlogPost.astro";
const allPosts = await Astro.glob("../../pages/blog/*.md");

import "../../styles/pages/blog.scss";
---

<MainLayout title="Blog" description="Desc">
  <div class="container">
    <div class="blog-list-box">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            img={post.frontmatter.image}
            title={post.frontmatter.title}
          />
        ))
      }
    </div>
  </div>
</MainLayout>
