@import '../global';

.single-post-page {
  padding-top: 80px;
}

.single-post-content {
  p {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
  }

  ul,
  ol {
    padding: 0 0 0 30px;
    margin: 15px 0;

    li {
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 15px;
    }
  }
}

.single-post-main-img {
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.author {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  margin: 30px 0;
  border-bottom: 1px solid $action-color;

  &__name {
    margin-bottom: 0;
  }

  &__date-post {
    margin-bottom: 0;
  }
}