---

---

<section class="hero">
  <div class="container hero__text">
    <h1 class="hero__title">
      “True happiness is not in having much, but in being content with little”
    </h1>
    <p class="hero__author">— Seneca</p>
  </div>
</section>

<style lang="scss">
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 250px 0 150px 0;
    background: url("/img/hero_bg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    &__title {
      font-size: 50px;
      font-weight: 700;
      line-height: 120%;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 30px;
      }
    }

    &__author {
      margin-top: 50px;
      font-size: 40px;
      font-weight: 500;
      line-height: 120%;
      text-align: center;

      @media (max-width: 767px) {
        font-size: 20px;
      }
    }
  }
</style>
