---
import navData from "../data/navData";
import ThemeIcon from "./ThemeIcon.astro";

---

<nav class="navbar" aria-label="Primary">
  <a href="/" aria-label="Go home">
    <!-- <img src="/img/logo.svg" alt="logo" width="150" height="40" /> -->
    <svg class="logo-img" width="2447" height="666" viewBox="0 0 2447 666" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M2139.67 118.002C2132.54 109.835 2124.29 102.664 2115.14 96.6931C2056.52 56.6509 2058.42 2.15821 2058.42 1.66584C2058.43 1.40892 2058.37 1.15335 2058.26 0.920695C2058.15 0.688038 2057.98 0.485118 2057.77 0.32906C2057.56 0.173001 2057.32 0.068384 2057.06 0.0240315C2056.8 -0.020321 2056.53 -0.00310596 2056.28 0.0742253C2030.33 9.5781 1962.28 64.1166 2016.41 134.285C2021.54 140.17 2024.43 147.598 2024.59 155.316C2024.75 163.033 2022.17 170.569 2017.29 176.652C2014.44 180.474 2010.43 183.326 2005.82 184.8C2001.21 186.274 1996.25 186.295 1991.62 184.862C1974.77 179.835 1953.89 165.018 1950.62 123.636C1950.62 123.34 1950.52 123.052 1950.35 122.81C1950.17 122.568 1949.93 122.382 1949.64 122.277C1949.36 122.171 1949.05 122.15 1948.75 122.217C1948.45 122.284 1948.19 122.435 1947.98 122.651C1915.55 159.132 1883.46 237.179 1975.15 278.034C1985.84 286.622 2043.25 292.851 2067.22 288.202C2086.72 286.678 2105.42 279.939 2121.25 268.73C2137.07 257.52 2149.41 242.274 2156.9 224.672C2164.39 207.071 2166.75 187.797 2163.71 168.975C2160.67 150.153 2152.35 132.514 2139.67 118.002ZM2150.49 312.694H1929.61C1929.4 312.702 1929.2 312.749 1929.01 312.834C1928.82 312.919 1928.65 313.04 1928.51 313.189C1928.37 313.338 1928.26 313.513 1928.19 313.703C1928.12 313.894 1928.09 314.096 1928.1 314.298C1928.11 326.18 1931.44 337.835 1937.74 348.015C1944.03 358.195 1953.05 366.517 1963.83 372.088C1978.53 378.806 1994.85 381.475 2011 379.806H2068.23C2084.72 381.567 2101.39 378.852 2116.4 371.962C2127.15 366.399 2136.15 358.092 2142.42 347.931C2148.69 337.77 2152 326.139 2151.99 314.286C2152 314.085 2151.97 313.884 2151.9 313.695C2151.83 313.506 2151.72 313.333 2151.58 313.185C2151.44 313.037 2151.27 312.917 2151.08 312.833C2150.9 312.749 2150.69 312.702 2150.49 312.694ZM2084.7 404.298H1995.39C1992.61 404.297 1989.84 404.133 1987.08 403.806C1991.03 414.393 1998.23 423.541 2007.71 430.005C2017.18 436.47 2028.47 439.938 2040.04 439.938C2051.61 439.938 2062.9 436.47 2072.37 430.005C2081.85 423.541 2089.05 414.393 2093 403.806C2090.24 404.133 2087.48 404.298 2084.7 404.298Z" fill="transparent"/>
      <path d="M2040.05 464.413C2020.43 464.591 2001.43 457.699 1986.72 445.062L2009.36 615.284C2010.33 622.478 2013.95 629.085 2019.55 633.871C2025.15 638.658 2032.35 641.297 2039.8 641.297C2047.25 641.297 2054.45 638.658 2060.05 633.871C2065.65 629.085 2069.27 622.478 2070.24 615.284L2090.99 447.157C2076.53 458.399 2058.55 464.488 2040.05 464.413Z" fill="transparent"/>
      <path d="M80.5 232H0V162H238V232H157.5V652H80.5V232Z" fill="transparent"/>
      <path d="M275.28 162H389.38C429.047 162 457.98 171.333 476.18 190C494.38 208.2 503.48 236.433 503.48 274.7V304.8C503.48 355.667 486.68 387.867 453.08 401.4V402.8C471.747 408.4 484.814 419.833 492.28 437.1C500.214 454.367 504.18 477.467 504.18 506.4V592.5C504.18 606.5 504.647 617.933 505.58 626.8C506.514 635.2 508.847 643.6 512.581 652H434.18C431.38 644.067 429.514 636.6 428.58 629.6C427.647 622.6 427.18 610 427.18 591.8V502.2C427.18 479.8 423.447 464.167 415.98 455.3C408.98 446.433 396.614 442 378.88 442H352.28V652H275.28V162ZM380.28 372C395.68 372 407.114 368.033 414.58 360.1C422.514 352.167 426.48 338.867 426.48 320.2V282.4C426.48 264.667 423.214 251.833 416.68 243.9C410.614 235.967 400.814 232 387.28 232H352.28V372H380.28Z" fill="transparent"/>
      <path d="M669.605 659C632.271 659 603.805 648.5 584.205 627.5C564.605 606.033 554.805 575.467 554.805 535.8V162H631.805V541.4C631.805 558.2 635.071 570.333 641.605 577.8C648.605 585.267 658.405 589 671.005 589C683.605 589 693.171 585.267 699.705 577.8C706.705 570.333 710.205 558.2 710.205 541.4V162H784.405V535.8C784.405 575.467 774.605 606.033 755.005 627.5C735.405 648.5 706.938 659 669.605 659Z" fill="transparent"/>
      <path d="M839.245 162H1049.25V232H916.245V361.5H1021.95V431.5H916.245V582H1049.25V652H839.245V162Z" fill="transparent"/>
      <path d="M1195.01 659C1157.68 659 1129.44 648.5 1110.31 627.5C1091.18 606.033 1081.61 575.467 1081.61 535.8V507.8H1154.41V541.4C1154.41 573.133 1167.71 589 1194.31 589C1207.38 589 1217.18 585.267 1223.71 577.8C1230.71 569.867 1234.21 557.267 1234.21 540C1234.21 519.467 1229.54 501.5 1220.21 486.1C1210.88 470.233 1193.61 451.333 1168.41 429.4C1136.68 401.4 1114.51 376.2 1101.91 353.8C1089.31 330.933 1083.01 305.267 1083.01 276.8C1083.01 238.067 1092.81 208.2 1112.41 187.2C1132.01 165.733 1160.48 155 1197.81 155C1234.68 155 1262.44 165.733 1281.11 187.2C1300.24 208.2 1309.81 238.533 1309.81 278.2V298.5H1237.01V273.3C1237.01 256.5 1233.74 244.367 1227.21 236.9C1220.68 228.967 1211.11 225 1198.51 225C1172.84 225 1160.01 240.633 1160.01 271.9C1160.01 289.633 1164.68 306.2 1174.01 321.6C1183.81 337 1201.31 355.667 1226.51 377.6C1258.71 405.6 1280.88 431.033 1293.01 453.9C1305.14 476.767 1311.21 503.6 1311.21 534.4C1311.21 574.533 1301.18 605.333 1281.11 626.8C1261.51 648.267 1232.81 659 1195.01 659Z" fill="transparent"/>
      <path d="M1415.56 232H1335.06V162H1573.06V232H1492.56V652H1415.56V232Z" fill="transparent"/>
      <path d="M1718.9 659C1681.1 659 1652.17 648.267 1632.1 626.8C1612.04 605.333 1602 575 1602 535.8V278.2C1602 239 1612.04 208.667 1632.1 187.2C1652.17 165.733 1681.1 155 1718.9 155C1756.7 155 1785.64 165.733 1805.7 187.2C1825.77 208.667 1835.8 239 1835.8 278.2V535.8C1835.8 575 1825.77 605.333 1805.7 626.8C1785.64 648.267 1756.7 659 1718.9 659ZM1718.9 589C1745.5 589 1758.8 572.9 1758.8 540.7V273.3C1758.8 241.1 1745.5 225 1718.9 225C1692.3 225 1679 241.1 1679 273.3V540.7C1679 572.9 1692.3 589 1718.9 589Z" fill="transparent"/>
      <path d="M2332.71 666C2295.84 666 2267.61 655.5 2248.01 634.5C2228.87 613.5 2219.31 583.867 2219.31 545.6V282.4C2219.31 244.133 2228.87 214.5 2248.01 193.5C2267.61 172.5 2295.84 162 2332.71 162C2369.57 162 2397.57 172.5 2416.71 193.5C2436.31 214.5 2446.11 244.133 2446.11 282.4V334.2H2373.31V277.5C2373.31 247.167 2360.47 232 2334.81 232C2309.14 232 2296.31 247.167 2296.31 277.5V551.2C2296.31 581.067 2309.14 596 2334.81 596C2360.47 596 2373.31 581.067 2373.31 551.2V476.3H2446.11V545.6C2446.11 583.867 2436.31 613.5 2416.71 634.5C2397.57 655.5 2369.57 666 2332.71 666Z" fill="transparent"/>
      </svg>
  </a>

  <ul class="menu">
    {
      navData.map((item) => (
        <li>
          <a href={item.path}>{item.name}</a>
        </li>
      ))
    }
  </ul>

  <ThemeIcon />
</nav>
