@font-face {
  font-family: "Rubik", system-ui;
  src: url("../font/Rubik-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  font-optical-sizing: auto;
}